//responsive
@mixin respond-to($media) {
  @media only screen and (max-width: $media + "px") {
    @content;
  }
}

/*========================================================*/
@mixin respond-toSP($media) {
  @media only screen and (min-width: $media + "px") {
    @content;
  }
}
/*========================================================*/

/*========================================================*/
@mixin ie() {
  //----------------------------------------
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
  //----------------------------------------
}
/*========================================================*/
