@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*========================================================*/
/*========================================================*/
/*========================================================*/
/*========================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.2px;
  font-family: "Montserrat", sans-serif;
}

header {
  position: relative;
  background: url(../../img/bg-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 55, 0.5);
  z-index: 0;
}
header .topnav ul {
  padding: 10px 30px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1100;
}
header .topnav ul li {
  list-style: none;
  color: #ffffff;
  margin: 0 10px;
}
header .topnav ul .search {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 10px;
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
}
header .topnav ul .search:focus {
  transition: all ease-in-out 0.5s;
  width: 200px;
}
header .nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1100;
}
header .nav__list {
  transition: all ease-in 0.5s;
  position: absolute;
  top: 30px;
  left: -100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1100;
  background-color: rgba(55, 55, 55, 0.5);
  min-height: 100vh;
  width: 20%;
}
@media only screen and (max-width: 768px) {
  header .nav__list {
    width: 100%;
  }
}
header .nav__list li {
  list-style: none;
  padding: 10px 30px;
  width: 100%;
  text-align: center;
}
header .nav__list li a {
  color: white;
  text-decoration: none;
}
header .nav .active__list {
  transition: all ease-in 0.5s;
  position: absolute;
  top: 30px;
  left: 30px;
}
header .nav__logo {
  position: relative;
  padding: 0 30px;
}
@media only screen and (max-width: 768px) {
  header .nav__logo {
    padding: 0 20px;
  }
}
header .nav__logo i {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
}
header .nav__menu {
  position: relative;
  z-index: 100;
}
header .nav__menu li {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 10px;
  transition: all ease 0.5s;
}
header .nav__menu li:hover {
  transition: all ease 0.5s;
  transform: scale(1.2);
}
header .nav__menu li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  header .nav__menu {
    display: none;
  }
}
header .hero {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
}
header .hero .content {
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 500px) {
  header .hero .content {
    padding: 0 20px;
  }
}
header .hero .content button {
  transition: all ease 0.5s;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  background: #f44435;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}
header .hero .content button i {
  position: absolute;
  left: 100%;
  top: 100%;
}
header .hero .content button:hover i {
  position: relative;
  left: 0;
  top: 50%;
  transition: all ease 0.5s;
  display: inline-block;
}
header .hero .circle {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  header .hero .circle {
    display: none;
  }
}

.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about__left {
  position: relative;
  width: 40%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .about__left {
    display: none;
  }
}
.about__left .left-img {
  max-width: 100%;
  padding: 30px;
  margin-top: 30px;
  animation: laptop 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@keyframes laptop {
  40% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(40px) rotate(-1deg);
  }
}
.about__right {
  width: 60%;
  position: relative;
  padding: 20px 30px;
}
@media only screen and (max-width: 768px) {
  .about__right {
    width: 100%;
  }
}
.about__right h2 {
  text-align: center;
  text-transform: uppercase;
  color: #373737;
  font-size: 35px;
  margin-bottom: 20px;
}
.about__right p {
  font-size: 19px;
  color: #373737;
}

.title {
  text-align: center;
}
.title h3 {
  margin-top: 40px;
  font-size: 40px;
  color: #ff6600;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .title h3 {
    font-size: 25px;
  }
}
.title p {
  font-size: 17px;
  font-style: italic;
}

.green-rectangle {
  position: absolute;
  animation: green-rectangle-anim 40s infinite linear;
  background: url(../../img/rectangle.svg);
  bottom: -183px;
  height: 371px;
  right: -192px;
  width: 371px;
  filter: invert(51%) sepia(7%) saturate(5%) hue-rotate(345deg) brightness(88%) contrast(91%);
}

@keyframes grey-rounded-rectangle-anim {
  65% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-48px) rotate(-75deg);
  }
}
@keyframes green-rectangle-anim {
  100% {
    transform: rotate(360deg);
  }
}
.red-triangle {
  animation: red-triangle-anim 9.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  background: url(../../img/red_triangle.svg);
  bottom: 15%;
  height: 74px;
  left: -418px;
  width: 65px;
  position: absolute;
  filter: invert(44%) sepia(75%) saturate(3243%) hue-rotate(346deg) brightness(103%) contrast(102%);
}

@keyframes red-triangle-anim {
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(25px) rotate(-53deg);
  }
}
.yellow-semicircle {
  animation: yellow-semicircle-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  background: url(../../img/semicircle.svg);
  height: 171px;
  right: 157px;
  top: -50px;
  transform: rotate(-7deg);
  width: 211px;
  position: absolute;
  filter: invert(35%) sepia(42%) saturate(4550%) hue-rotate(343deg) brightness(99%) contrast(93%);
}

@keyframes yellow-semicircle-anim {
  40% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(40px) rotate(-1deg);
  }
}
@keyframes around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.custom-shape-divider-bottom-1601710485 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1601710485 svg {
  position: relative;
  display: block;
  width: calc(180% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1601710485 .shape-fill {
  fill: #ffffff;
}